@import 'variables';

.site-footer {
  margin-top: $spacing-xl;
  padding: $spacing-lg 0;
  border-top: 1px solid $border-color;
  text-align: center;

  .footer-content {
    color: $text-light;
    font-size: $font-size-sm;

    p {
      margin: 0;
    }
  }
}
