// Custom styles.

h2, h3, h4, h5, h6 { 
  padding: 10px;
  background: $gainsboro; 
  border-left: 6px solid $blue;
}

blockquote {
    border-left: 5px solid $green;
    background: $gainsboro;
    font-style: italic;
    margin-left: 0.5cm;
}
